###############################################################################
# Vagrant
###############################################################################
.vagrant

###############################################################################
# vim
###############################################################################
*.sw[op]
